@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Mada&family=Montserrat&family=Roboto&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@300&display=swap');
* {
    padding: 0px;
    margin: 0px;
    background: #360369;
    color: white;
}

h1 {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 220px;
    padding-bottom: 40px;
}
.btn{
    background-color: white;
    color: #000;
    text-decoration: none;
    padding: 8px 200px;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 300;
    margin-left: 430px;
    margin-top: 80px;
    
}

@media screen and (max-width: 520px){
    .btn{
        font-size: 1rem;
        padding: 7px 100px;
        margin-left: 20vw;
    }
    h1{
        font-size: 5rem;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 360px){
    .btn{
        font-size: 1rem;
        padding: 7px 50px;
        margin-left: 15vw;
    }
    h1{
        font-size: 4rem;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 230px){
    .btn{
        font-size: 1rem;
        padding: 6px 30px;
        margin-left: 10vw;
    }
    h1{
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
}